<div class="container flex column justify-content-center mt-5">
  <div class="iptrackerbox flex flex-column align-items-center">
    <form class="ip-form flex" (submit)="FormSubmit($event)">
      <mat-form-field class="ip-form">
        <mat-label>Ip Address</mat-label>
        <input matInput placeholder="Enter an ipaddress" value={{ipdata.ip}} #ipValueInput/>
      </mat-form-field>
      <button type="submit" mat-fab class="no-border">
        <mat-icon class="text-white">search</mat-icon>
      </button>
    </form>

    Your ip address:
    ipaddress
  </div>
</div>
